stock-data-wsdl.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://helloservice.jaxws.alekseysamoylov.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="HelloService" targetNamespace="http://helloservice.jaxws.alekseysamoylov.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://helloservice.jaxws.alekseysamoylov.com/" elementFormDefault="unqualified"
                   targetNamespace="http://helloservice.jaxws.alekseysamoylov.com/" version="1.0">
         <!--import при желании-->
            <xs:element name="stockId" type="xs:long"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="isUpdated" type="xs:boolean"/>
            <xs:element name="stock">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="stockId" type="xs:long"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="price" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="getPrice">
        <wsdl:part name="parameters" element="tns:stockId"/>
    </wsdl:message>
    <wsdl:message name="getPriceResponse">
        <wsdl:part name="parameters" element="tns:price"/>
    </wsdl:message>

    <wsdl:message name="updateStock">
        <wsdl:part name="parameters" element="tns:stock"/>
    </wsdl:message>
    <wsdl:message name="updateStockResponse">
        <wsdl:part name="parameters" element="tns:isUpdated"/>
    </wsdl:message>

    <wsdl:message name="saveStock">
        <wsdl:part name="parameters" element="tns:stock"/>
    </wsdl:message>
    <wsdl:message name="saveStockResponse">
        <wsdl:part name="parameters" element="tns:stockId"/>
    </wsdl:message>

    <wsdl:portType name="StockData">
        <wsdl:operation name="getPrice">
            <wsdl:input message="tns:getPrice" name="getPrice"/>
            <wsdl:output message="tns:getPriceResponse" name="getPriceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateStock">
            <wsdl:input message="tns:updateStock" name="updateStock"/>
            <wsdl:output message="tns:updateStockResponse" name="updateStockResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveStock">
            <wsdl:input message="tns:saveStock" name="saveStock"/>
            <wsdl:output message="tns:saveStockResponse" name="saveStockResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="StockDataServiceSoapBinding" type="tns:StockData">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPrice">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPrice">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPriceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateStock">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="updateStock">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateStockResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveStock">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="saveStock">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="saveStockResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="StockDataService">
        <wsdl:port name="StockDataPort" binding="tns:StockDataServiceSoapBinding">
            <soap:address location="http://localhost:8080/jaxws-example-1.0-SNAPSHOT/stockService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>