wsdl-to-edit.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://helloservice.jaxws.alekseysamoylov.com/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="HelloService" targetNamespace="http://helloservice.jaxws.alekseysamoylov.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://helloservice.jaxws.alekseysamoylov.com/" elementFormDefault="unqualified"
                   targetNamespace="http://helloservice.jaxws.alekseysamoylov.com/" version="1.0">
            <xs:element name="name" type="tns:name"/>
            <xs:element name="nameResponse" type="tns:nameResponse"/>
            <xs:element name="reportTime" type="tns:reportTime"/>
            <xs:element name="reportTimeResponse" type="tns:reportTimeResponse"/>
            <xs:complexType name="name">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="nameResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="reportTime">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="reportTimeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="Employee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:integer"/>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="nameResponse">
        <wsdl:part element="tns:nameResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="name">
        <wsdl:part element="tns:name" name="parameters"></wsdl:part>
    </wsdl:message>


    <!--new-->
    <wsdl:message name="reportTimeResponse">
        <wsdl:part element="tns:reportTimeResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="reportTime">
        <wsdl:part element="tns:reportTime" name="parameters"></wsdl:part>
    </wsdl:message>
    <!--new-->


    <wsdl:portType name="Hello">
        <wsdl:operation name="name">
            <wsdl:input message="tns:name" name="name"></wsdl:input>
            <wsdl:output message="tns:nameResponse" name="nameResponse"></wsdl:output>
        </wsdl:operation>
        <!--new-->
        <wsdl:operation name="reportTime">
            <wsdl:input message="tns:reportTime" name="reportTime"></wsdl:input>
            <wsdl:output message="tns:reportTimeResponse" name="reportTimeResponse"></wsdl:output>
        </wsdl:operation>
        <!--new-->
    </wsdl:portType>

    <wsdl:binding name="HelloServiceSoapBinding" type="tns:Hello">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="name">
            <soap:operation soapAction="sample" style="document"/>
            <wsdl:input name="name">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="nameResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="HelloService">
        <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloPort">
            <soap:address location="http://localhost:8080/jaxws-example-1.0-SNAPSHOT/hello-service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>